
body{
	background-color: skyblue;
	margin: 0;
}






.imgclass 
{
	height: 400px !important;
	width: 400px !important;
}

 
.trans {
	transition-delay: 1s;
}

.menu_scroll {

	max-height: 200px;
	overflow: scroll;

}