
body{
	background-color: skyblue;
	margin: 0;
}






.imgclass 
{
	height: 400px !important;
	width: 400px !important;
}

 
.trans {
	transition-delay: 1s;
}

.menu_scroll {

	max-height: 200px;
	overflow: scroll;

}

#cart-count {
	background-color: red;
	color: #fff;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	width: 15px;
	height: 15px;
	font-size: 15px;
	margin-left: 10px;
	text-indent: 3px;
}

.hovr:hover {
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }





  .panel-footer.panel-custom {
     color: white;
	 font-weight: 500;
	 text-align: center;
}